:root {
    --b-white: #ffffff;
    --b-light-gray: #e5e5e5;
    --b-gray: #c3c3c3;
    --b-dark-gray: #7e7e7e;
    --b-dark: #1d1d1d;
    --b-green: #2d5c43;
    --b-purple: #393158;
    --b-ocean: #2a5259;
    --b-olive: #706947;
}